:root {
  --bg-color-dark: #000;
  --bg-color-light: #fff;
  --text-color-primary-light: #000;
  --text-color-primary-dark: #fff;
  --text-color-secondary: #ccc;
  --bg-content-color: #435663;
  --error-color: orangered;
}
