:root {
  --padding-m: 20px;
  --padding-sm: 18px;
  --padding-s: 16px;
  --padding-xs: 14px;
  --padding-2xs: 12px;
  --padding-3xs: 8px;
  --padding-4xs: 4px;

  --space-m: 20px;
  --space-sm: 18px;
  --space-s: 16px;
  --space-xs: 14px;
  --space-2xs: 12px;
  --space-3xs: 8px;
  --space-4xs: 4px;
}
