:host {
  background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
  padding: var(--padding-3xs);
  border: transparent;
  width: max-content;
  cursor: pointer;

  svg {
    fill: light-dark(var(--text-color-primary-light), var(--text-color-primary-dark));
  }
}
