:host {
  background-color: transparent;
  border: transparent;
  width: max-content;
  cursor: pointer;

  svg {
    fill: light-dark(var(--text-color-primary-light), var(--text-color-primary-dark));
  }
}
