:host {
  padding: var(--padding-m);
  position: relative;
  display: block;
  margin-top: auto;
  transition: all 0.2s ease-in-out;
  transform: translateY(10px);

  &.expanded {
    z-index: 10;
    background: light-dark(var(--bg-content-color-light), var(--bg-content-color-dark) );
    position: absolute;
    inset: 0;
    bottom: 50px;
    border-radius: 14px;
    transform: translateY(0);
    padding-bottom: 0;
  }

  .qr-history {

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &-toggle {
        background: transparent;
        border: none;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: var(--space-3xs);
        color: light-dark(var(--text-color-primary-light), var(--text-color-primary-dark));

        .arrow-icon {
          width: 16px;
          height: 16px;
          background: url("../../../../public/arrow_up.svg") no-repeat center center;

          &.expanded {
            transform: rotate(180deg);
          }
        }
      }
    }

    &-list {
      list-style: none;

      li {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: var(--padding-xs);
        cursor: pointer;

        &:hover {
          background-color: rgba(grey, 0.5);
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
