:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.5s ease-in-out;
  padding-bottom: 60px;
}

.thumbnail {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
