@use "./styles/vars";
@use "./styles/colors";

:root {
  color-scheme: light dark;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
  color: light-dark(var(--text-color-primary-light), var(--text-color-primary-dark));
}
